.errors__container {
  position: absolute;
  bottom: -15%;
  margin: 10px auto;
  width: 300px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.disappear {
  animation: fadeOut 3s forwards;
  animation-timing-function: cubic-bezier(0.97, 1, 0.03, 1.02);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
