.leaders__container {
  max-width: 740px;
  margin: 0 auto;

  color: #333;

  font-size: 14px;

  display: flex;
  flex-direction: column;
}

.mode__wrapper--dark .leaders__container {
  color: #fff;
}

.leaders-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 4px;
}
.leaders-header {
  opacity: 0.6;
}
.leaders-item {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .leaders__container {
    max-width: 560px;
  }
}
