.leaders__container {
  max-width: 740px;
  padding: 20px;
  margin: 40px auto;
  color: #333;
  font-size: 12px;
}

.leaders {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ffffff6f;
  border-radius: 8px;
}

.mode__wrapper--dark .leaders__container {
  color: #fff;
}

.leaders-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 4px;
}
.leaders-header {
  opacity: 0.6;
}
.leaders-item {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .leaders__container {
    max-width: 560px;
  }
}
