.dashboard {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.timer__container,
.attempts__container,
.start-button__container {
  display: flex;
  justify-content: space-around;

  min-width: 140px;
  padding: 0px 4px;

  border-radius: 4px;

  color: #fff;
  background-color: rgb(8, 6, 16);

  margin: 0 2px;
}

.start-button__container {
  cursor: pointer;
}

@media (max-width: 450px) {
  .dashboard {
    flex-direction: column;
    gap: 2px;
  }
  .timer__container,
  .attempts__container,
  .start-button__container {
    justify-content: center;
  }
  .start-button__container {
    order: -1;
  }
}
