:root {
  font-family: Inter, system-ui, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.error {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;

  background: linear-gradient(to bottom, #e07676 5%, #b95252 100%);
  background-color: #a04e4e;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;

  font-weight: bold;
  text-decoration: none;
  /* text-shadow: 0px 1px 0px #954444; */
  align-items: center;
  min-width: 100px;
  border: 1px transparent solid;
}
